@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Coiny&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@200;400;500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  --primary-color: #8351f2;
  --second-color: #46d942;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #a287dc;
}

/* header */

header {
  background-image: linear-gradient(to right, #6a33e2, #7344da);
  color: #ffffffca;
  padding: 0 2rem;
  height: 7.5rem;
  display: grid;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  margin: 0 10px;
}

.img-logo {
  width: 10rem;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 5px;
}

.button-list {
  background-color: #46d942;
  text-shadow: 1px 1px 2px #000;
  border: none;
  border-radius: 20px;
  padding: 5px 1rem;
  color: #ffffffca;
  font-size: 1rem;
}

.button-list:hover {
  background-color: #8351f2;
  transform: scale(1.05);
  transition-duration: 200ms;
  cursor: pointer;
}

.ul-navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 2rem;
}

.menu-link {
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  color: #ffffffca;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
}

.menu-link:hover {
  color: #46d942;
}

/* Main */

main {
  min-height: 600px;
  padding: 0 50px;
  background-color: #6a33e29d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffca;
  margin-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container-home {
  margin: 0 auto;
  padding: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}

.text-home {
  text-align: start;
}

.h1-content {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

span {
  color: #46d942;
}

.btn-information {
  background-color: #46d942;
  text-shadow: 1px 1px 2px #000;
  border: none;
  border-radius: 20px;
  padding: 5px 1rem;
  color: #ffffffca;
  font-size: 1rem;
  margin-top: 1rem;
}

.btn-information:hover {
  background-color: #6128de;
  transform: scale(1.05);
  transition-duration: 200ms;
  cursor: pointer;
}

.letters {
  width: 550px;
}

/* Section about */

.section-about {
  background-color: #ffffffca;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.about-card {
  background-color: #cddc39;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.img-about {
  position: relative;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-img h3 {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 1rem;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.about-text h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.about-text p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 2rem;
  margin: 3rem;
}

/* Section content */

.section-container {
  background-color: #6a33e29d;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card {
  background-color: #ffffffca;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 10px;
  gap: 5px;
}

.image-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.text-card h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.text-card {
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
}

.text-card a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* Footer */

.container-footer {
  background-color: #6d39df;
  margin-top: 2rem;
  padding: 2rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-logo-footer {
  width: 230px;
}

.talk {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.talk h3 {
  text-align: center;
  color: #ffffffca;
  text-shadow: 1px 1px 2px #000;
  font-size: 1.5rem;
}

.talk input {
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
}

.talk textarea {
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 2rem;
}

.icons i {
  background-color: #46d942;
  padding: 1rem;
  border-radius: 30px;
  color: #ffffffca;
}

.icons i:hover {
  background-color: #8351f2;
  color: #000000bd;
  transform: scale(1.05s);
  transition: 0.5s;
  cursor: pointer;
}

.socials h3 {
  margin: 1rem;
  color: #ffffffca;
  text-shadow: 1px 1px 2px #000;
  font-size: 1.5rem;
}

.footer-text {
  text-align: center;
  color: #ffffffca;
  padding: 0.5rem;
}

/* Responsive Header */

@media screen and (max-width: 693px) {
  .ul-navigation {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  header {
    padding: 0;
  }
}

/* Responsive Main */

@media screen and (max-width: 1143px) {
  .h1-content {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 1069px) {
  .h1-content {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 1035px) {
  .h1-content {
    font-size: 2.5rem;
  }

  .letters {
    width: 300px;
  }
}

@media screen and (max-width: 960px) {
  main {
    min-height: 550px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .text-home {
    text-align: center;
  }

  .h1-content {
    font-size: 2.5rem;
  }

  .letters {
    width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .letters {
    width: 280px;
  }

  .h1-content {
    font-size: 2rem;
  }
}

/* Responsinve Section about */

@media screen and (max-width: 1143px) {
  .about-card {
    display: flex;
    flex-direction: column;
  }

  .card-img h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .img-about {
    width: 380px;
    position: relative;
    left: 8px;
  }

  .about-text h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 820px) {
  .about-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .card-img h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .img-about {
    width: 350px;
    position: relative;
    left: 5px;
  }

  .about-text h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .about-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .card-img h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .img-about {
    width: 250px;
    position: relative;
    left: 1px;
  }

  .about-text h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .about-card {
    display: flex;
    flex-direction: column;
  }

  .card-img h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .img-about {
    width: 230px;
    position: relative;
    left: 1px;
  }

  .about-text h2 {
    font-size: 1.8rem;
  }

  .about-text p {
    font-size: 1rem;
  }
}

/* Responsive Section content */

@media screen and (max-width: 1000px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .text-card h3 {
    font-size: 1.3rem;
  }

  .text-card p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 512px) {
  .card {
    margin: -3rem;
  }
  .text-card h3 {
    font-size: 1.4rem;
  }

  .text-card p {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .image-content {
    width: 280px;
  }
}

@media screen and (max-width: 320px) {
  .text-card h3 {
    font-size: 1.3rem;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-content {
    width: 200px;
  }
}

/* Rsponsive footer */

@media screen and (max-width: 797px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .socials h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 320px) {
  .socials h3 {
    font-size: 1rem;
    text-align: center;
  }

  .talk h3 {
    font-size: 1.2rem;
    text-align: center;
  }
}
