:root {
    --primary-color: #8351F2;
    --second-color: #46D942;
}

html {
    /* font-size: 62.5%;
    font-family: 'Arimo', sans-serif;
    font-weight: 400; */
    font: 400 62.5% 'Arimo', sans-serif; ;
}

p,
a {
    font-size: 1.6rem;
}

.title1 {
    font-size: 4.8rem;
}

nav a {
    color: inherit;
    font-size: 3.5rem;
    text-decoration: none;
    font-weight: bold;
}

/* nav a:hover {
    color: #fafafa;
} */



.wrapperContainer-dark {
    background-color: var(--primary-color);
    color: #fafafa;
}

.wrapperContainer-light {
    background-color: #fafafa;
}

.wrapperContainer-dark2 {
    background-color: var(--primary-color);
    color: #fafafa;
}

.container {
    max-width: 127.6rem;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: var(--second-color) ;
    text-shadow: 1px 2px 3px #000;
    padding: 2rem 0;
}

.logo {
    width: 300px;
}

.header_nav, ul {
    display: flex;
    gap: .6rem;
    list-style: none;
    

}

.header_nav a {
    padding: 0.75em 1.15em;
    border: solid 4px #000;
    border-radius: 15px;
}

.header_nav a:hover {
    background-color: #46D942;
    color: #fff;
}

.wrapperContainer-hero {
    background-color: #650199;
}


.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}


